
/************************************ Common Style S ************************************/
::-webkit-input-placeholder{color:#c7c7c7;}
:-moz-placeholder{color:#c7c7c7;}
::-moz-placeholder{color:#c7c7c7;}
:-ms-input-placeholder{color:#c7c7c7;}
body, input, select, textarea, button, .ui-btn{font-family:'Roboto','Noto Sans CJK KR';}
*{font-family:'Roboto','Noto Sans CJK KR';box-sizing:border-box;}
html{height:100%;font-size:50px;font-family:'Roboto','Noto Sans CJK KR';background:#fff;}
body{min-width:280px;height:100%;color:#111;font-size:0.4rem;background:#fff;}
/* Warp */
#view-wrap{position:relative;padding-top:1.2rem;padding-bottom:0.1rem;height:100%;background:#fff;box-sizing:border-box;overflow-x:hidden;}
#view-wrap.bg01{background:#e9ecef;}
#view-wrap.bg01 > #content{padding-bottom:1.3rem;}
#view-wrap.bg01 .signup-form .step-box.active{background:#f8f9fa;}
/* Contet */
#content{position:relative;margin:auto;max-width:750px;min-height:100%;}
#content.btn-num01{padding-bottom:1.1rem;}
a span,
button span{display:block;}
/************************************ Common Style E ************************************/


/************************************ Content Style S ************************************/
    /* Text */
    .cmm-tit{margin-bottom:0.3rem;line-height:0.6rem;font-size:0.54rem;}
    .cmm-tit span{color: #666;font-size:0.45rem;}
    .cmm-txt{margin-bottom:0.3rem;line-height:0.6rem;color:#666;}
    /* Btn */
    .btn-next{width:100%;
      background: linear-gradient(to right, red, #54a9f1);
  border: 1px solid linear-gradient(to right, red, #54a9f1);}
    .btn-next span{height:1rem;line-height:1rem;color:#fff;font-size:0.42rem;text-align:center;}
    .btn-white{border:solid 0.02rem #c6c6c6;background:#fff;}
    .btn-white span{padding:0 0.5rem;height:0.7rem;line-height:0.7rem;color:#666;font-size:0.36rem;}
    .btn-black{display:inline-block;background:#000;}
    .btn-black span{padding:0 0.5rem;height:0.7rem;line-height:0.7rem;color:#fff;font-size:0.36rem;}
    .btn-more{border:solid 0.02rem #c6c6c6;border-radius:0.35rem;background:#fff;}
    .btn-more span{padding:0 0.5rem;height:0.7rem;line-height:0.7rem;color:#666;font-size:0.36rem;}
    /* Form */
    .cmm-form{margin-bottom:0.1rem;}
    .cmm-form .input{display:flex;margin-bottom:0.2rem;}
.cmm-form .input input{
  padding-left: 10px;
  width:100%;height:1rem;line-height:1rem;font-size:0.42rem;border:none;
  background: #f9f8f8;
  box-shadow: inset 5em 1em gold;
}
.cmm-form .input textarea{width:100%;height:3rem;line-height:1rem;font-size:0.42rem;border:none;background: #f7f2f245;
  box-shadow: inset 5em 1em gold;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(190, 190, 190);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(190, 190, 190);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(190, 190, 190);
}

.cmm-form .file-list {height: 1.6rem;padding: .05rem;white-space: nowrap;overflow-x: auto;}
.cmm-form .file-list span {height: 100%; width: 1.6rem;margin-right: .1rem;display: inline-flex;justify-content: center;align-items: center;border: 0.5px solid #bbbbbb;}
.cmm-form .file-list span img {max-height: 100%; max-width: 100%;}
.cmm-form .file-list span video {max-height: 100%; max-width: 100%;}
.cmm-form .input button{margin-left: 5px; width:1.5rem;background:#666;}
    .cmm-form .input button span{height:1rem;line-height:1rem;color:#fff;font-size:0.3rem;text-align:center;}
    .cmm-form .label{margin-bottom:0.1rem;padding-top:0.2rem;color:#000; font-weight: 500; font-size: 18px;}
    .cmm-form p{color:#666;}
    .cmm-form.alert input{border-color:#ff1414;}
    .cmm-form.alert p{color:#ff1414;}
    .cmm-form .radio-group{display:flex;margin-bottom:0.2rem;}
    .cmm-form .radio-group > span{display:block;position:relative;width:100%;}
    .cmm-form .radio-group input{position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;}
    .cmm-form .radio-group label{display:block;height:1rem;line-height:1rem;text-align:center;border:solid 0.02rem #c6c6c6;background:#fff;
    font-size: 16px;
    }
    .cmm-form .radio-group > span + span label{border-left:none;}
    .cmm-form .radio-group input:checked + label{color:#fff;border:none;background:linear-gradient(to right, #e5302c 0%, #2583cb 100%);}
    .cmm-form .select{position:relative;margin-bottom:0.05rem;height:1rem;}
    /* .cmm-form .select:before{z-index: 100; display:block;content:'';position:absolute;right:0.2rem;top:0.25rem;width:0.2rem;height:0.2rem;border:solid 0.06rem transparent;border-left-color:#999;border-bottom-color:#999;border-radius:0.05rem;transform:rotate(-45deg);} */
    .cmm-form .select select{position:absolute;left:0;top:0;width:100%;height:100%;font-size:0.4rem;border:none;border-bottom:solid 0.02rem #c6c6c6;
      background: #f9f8f8;
      -webkit-box-shadow: inset 1px 1px 6px #e6e6e6;
      -moz-box-shadow: inset 1px 1px 6px #e6e6e6;
      box-shadow: inset 1px 1px 6px #e6e6e6;
    }
    /* cmm-radio */
    .cmm-checkbox{position:relative;padding-left:0.7rem;font-size:0.36rem;}
    .cmm-checkbox input{position:absolute;left:0;top:0.25rem;width:0.5rem;height:0.5rem;border:solid 0.02rem #c6c6c6;border-radius:50%;}
    .cmm-checkbox label{display:block;height:1rem;line-height:1rem;}
    .cmm-checkbox input:checked{border:none;background:#ff1414;}
    .cmm-checkbox input:checked + label:before{display:block;content:'';position:absolute;left:0.08rem;top:0.32rem;width:0.2rem;height:0.1rem;border:solid 0.06rem transparent;border-left-color:#fff;border-bottom-color:#fff;border-radius:0.05rem;transform:rotate(-45deg);}
    /* cmm-textarea */
.cmm-textarea textarea{padding:0.3rem;width:100%;height:3rem;line-height:0.6rem;font-size:0.4rem;border:solid 0.02rem #c6c6c6;}
.cmm-textarea .textarea{padding:0.3rem;width:100%;height: 10rem;overflow-y:scroll;resize: vertical;line-height:0.6rem;font-size:0.4rem;border:solid 0.02rem #c6c6c6;}
.cmm-textarea .textarea img{width: 100%; padding: 0.3rem;}
    .cmm-buttonarea {text-align:center;color: white;}
    .cmm-buttonarea button {width: 1.7rem;height:1.7rem;background:#e84540;border-radius:0.3rem;margin-right:0.1rem;}
    .cmm-buttonarea button:last-child {margin-right: 0}
.cmm-buttonarea button i{font-size:0.8rem;display: block;margin-bottom:0.1rem;}
.cmm-buttonarea button span{font-size:0.3rem;}
/************************************ Content Style E ************************************/



/************************************ Signup Style S ************************************/
    .signup-form .step-box{display:none;position:relative;padding:0.5rem 0.3rem;}
    .signup-form .step-box.active{display:block;}
    .signup-form .step-box .btn-box{margin:1rem 0 2rem 0;overflow:hidden;}
    .signup-form .step-box .btn-box .btn-white{float:right;}
    .signup-form .link-box{margin-bottom:0.7rem;padding-top:0.5rem;text-align:center;}
    .signup-form .link-box a{display:inline-block;position:relative;color:#369;}
    .signup-form .link-box a + a{margin-left:0.2rem;padding-left:0.2rem;}
    .signup-form .link-box a + a:before{display:block;content:'';position:absolute;left:-0.1rem;top:0.2rem;width:0.08rem;height:0.08rem;border-radius:50%;background:#369;}
    .signup-form .agree{margin-bottom:0.5rem;border:solid 0.02rem #c6c6c6;background:#ffffff;}
    .signup-form .agree .inner{padding:0.3rem;height:3rem;line-height:0.5rem;color:#999;font-size:0.32rem;border-top:solid 0.02rem #c6c6c6;overflow:hidden;overflow-y:auto;}
    .signup-form .agree dt p{padding:0.2rem 0;}
    .signup-form li{padding:0 0.3rem;border:solid 0.02rem #c6c6c6;background:#fff;}
    .signup-form li + li{margin-top:0.2rem;}
    .signup-form li .cmm-textarea{margin:-0.02rem -0.32rem;}
    .signup-form dt{padding:0 0.3rem;}
    .signup-form dd a{display:block;margin-bottom:0.5rem;text-align:center;}
    .signup-form dd p{margin:0.3rem;color:#999;font-size:0.36rem;text-align:center;}
    .signup-form .end-box .tit{position:relative;margin-bottom:0.5rem;padding-top:1.2rem;color:#ff1414;font-size:0.6rem;text-align:center;}
    .signup-form .end-box .tit:before{display:block;content:'';position:absolute;left:50%;top:0.2rem;margin-left:-0.2rem;width:0.4rem;height:0.2rem;border:solid 0.08rem transparent;border-left-color:#ff1414;border-bottom-color:#ff1414;border-radius:0.05rem;transform:rotate(-45deg);}
    .signup-form .end-box .tit:after{display:block;content:'';position:absolute;left:50%;top:0;margin-left:-0.4rem;width:0.8rem;height:0.8rem;border:solid 0.08rem #ff1414;border-radius:50%;}
    .signup-form .end-box .img{margin-bottom:0.5rem;}
    .signup-form .end-box .img img{width:100%;}
    .signup-form .end-box .txt{position:relative;margin-bottom:0.5rem;color:#666;font-size:0.5rem;text-align:center;}
/************************************ Signup Style E ************************************/
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  white-space: pre-wrap;
  display: block; /* For Firefox */
  color: #ccc;
}
    .cmm-tab{display:flex;margin-bottom:0;padding:0 0rem;background:rgb(233,69,63);font-size:0.35rem;}
    .cmm-tab a{display:block;width:100%;}
    .cmm-tab span{height:1rem;line-height:1rem;color:rgba(255, 255, 255, 0.7);text-align:center;border-bottom:solid 0.1rem transparent;}
    .cmm-tab .active span{color:rgba(255, 255, 255, 1);border-bottom-color:#fff;}

    .cmm-sort{margin-bottom:0.3rem;background:#fff;white-space:nowrap;position:relative;overflow-x: scroll;white-spze:nowrap;color:rgb(84,83,83)}
    .cmm-sort button:first-child{padding: .25rem .16rem;}
    .cmm-sort button{display:inline-block;padding: .25rem .12rem;}
    .cmm-sort button.active{box-shadow: inset 0 -0.08rem 0 rgb(233 69 63); color:rgb(233,69,63)}
    .cmm-sort span{font-size:.3rem;}
    .community-upload-header {color: rgb(84,83,83); margin-bottom: .1rem;background-color: white; position: relative; text-align: center; font-size: .3rem;padding: .2rem .3rem;}
.community-upload-header select {border: none;background: white}
.community-upload-header .select {position: relative;width: 2rem;margin: auto;}
.community-upload-header .select:before{display:block;content:'';position:absolute;right:0.03rem;top:0.05rem;width:0.11rem;height:0.1rem;border:solid 0.04rem transparent;border-left-color:#999;border-bottom-color:#999;border-radius:0.05rem;transform:rotate(-45deg);}
.community-upload-header .left-menu {position: absolute; left: .2rem; top: .2rem;}
.community-upload-header .right-menu {position: absolute; right: .2rem; top: .22rem;font-weight: 550;color:black;font-size:.28rem;}
.community-group.detail {border-radius: 0;margin: 0}
.community-group.detail > .tit {margin-top: .3rem;margin-bottom: .3rem;}
.community-group {background: white;border-radius: .3rem; margin: .3rem; position: relative; padding: .3rem;}
.community-group .info .img{width: .8rem;height: .8rem;border-radius: 50%;background-repeat: no-repeat;background-size: 100%;background-position: center;position: absolute;}
.community-group .info .info-right{padding-left: 1rem;font-size: .3rem;}
.community-group .info .info-right .tit {font-weight: 550;}
.community-group .info .info-right .date {margin-top: .05rem;color:rgb(100,100,100);}
.community-group .my-comment {}
.community-group .my-comment .comment{line-break: anywhere;font-size: .37rem;}
.community-group .my-comment .top {position: relative;color: rgb(49,62,85);font-weight: bold;margin-bottom: .1rem;}
.community-group .my-comment .top .title{padding-right: 2rem;font-size: .32rem;}
.community-group .my-comment .top .cat{position: absolute;right: 0;top: 0;font-size: .28rem;}
.community-group .my-comment .date {font-size: .3rem;color: #666;margin-top: .1rem;padding-bottom: .1rem;border-bottom: 1px solid #ccc;}
.community-group .my-comment {}
.community-group .content { font-size: .3rem;padding-top: .18rem;padding-bottom: .18rem;border-bottom: 1px solid rgb(210,210,210);}
.community-group .content img { max-width: 100%;}
.community-group .status {font-size: .3rem;margin-top:.25rem;position: relative}
.community-group .status .status-right {position: absolute; right: 0; top: .02rem;}
.icon-view {
  width: .7rem;height: .6rem;
  background-size: 2.1rem auto;
  background-image: url(../images/ico.png);
  background-repeat: no-repeat;
  background-position: -.7rem -0.55rem;
  display: inline-block;
}
.community-group .status .icon-comment {
  width: .55rem;height: .42rem;
  background-size: 2.1rem auto;
  background-image: url(../images/ico.png);
  background-repeat: no-repeat;
  background-position: 0 -1.58rem;
  display: inline-block;
}
.community-group .status .icon-like {
  margin-top: -.1rem;
  margin-right: .05rem;
}
.report-header {
  text-align: center;
  font-size: 0.35rem;
  font-weight: bold;
}
.report-content {
  padding: .3rem .4rem;
}
.report-content button {
  width: 100%;
  padding: .2rem 0;
  font-size: .27rem;
  margin-bottom: .15rem;
  color: white;
  text-align: center;
  border-radius: .3rem;
  word-wrap: break-word;
  background-color: rgb(233,69,63);
}
.icon-like {
  width: .55rem;height: .55rem;
  background-size: 2.1rem auto;
  background-image: url(../images/ico.png);
  background-repeat: no-repeat;
  background-position: -.02rem .02rem;
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-block;
}
.icon-comment {
  width: .45rem;height: .45rem;
  background-size: 2.3rem auto;
  background-image: url(../images/ico.png);
  background-repeat: no-repeat;
  background-position: -1.6rem -1.7rem;
  margin-left: .05rem;
  position: relative;
  display: inline-block;
}
.icon-comment > div {
  position: absolute;
  font-size: .25rem;
  background-color: rgb(233,69,63);
  border-radius: .1rem;
  padding: .05rem .1rem;
  right: -.15rem;
  top: -.2rem;
  color: white;
}
.icon-mypage {
  width: .8rem;height: .8rem;
  background-size: 5.5rem auto;
  background-image: url(../images/ico.png);
  background-repeat: no-repeat;
  background-position: -4.6rem -6.02rem;
  border-radius: 50%;
  display: inline-block;
}
.icon-like.active, .unchecked-alert .icon-like {
  border: 1px solid rgb(233,69,33);
}
.unchecked-alert .icon-comment {
  background-position-x: -.49rem !important;
}
.unchecked-alert {color: rgb(233,69,33)}
.report-icon {
  width: .5rem;height: .5rem;
  background-size: 8rem auto;
  background-image: url(../images/ico.png);
  background-repeat: no-repeat;
  background-position: -5.2rem -5rem;
  display: inline-block;
}
.share-icon {
  width: .5rem;height: .5rem;
  margin-right: .1rem;
  background-size: .5rem auto;
  background-image: url(../images/share.png);
  background-repeat: no-repeat;
  display: inline-block;
}
.community-floating-button {
  position: fixed; bottom: 1.5rem; right: .3rem; border-radius: 50%; width: 1.3rem; height: 1.3rem; background: rgb(233,69,33)}
.community-floating-button span {
  width: .8rem;
  height: .8rem;
  background-image: url(../images/ico.png);
  background-repeat: no-repeat;
  background-size: 3.5rem auto;
  background-position: -1.5rem -2.5rem;
  margin: .2rem .19rem;
  display: inline-block;
}
    .notice-alarm{margin-bottom:0.3rem;padding:0.15rem 0.1rem;background:#fff;}
    .notice-alarm button:first-child{border-right: 1px solid #666;}
    .notice-alarm button{display:inline-block;width: 49%;}
    .notice-alarm span{padding:0.03rem 0.1rem;height:0.8rem;line-height:0.8rem;color:#666;font-size:0.4rem;text-align:center;border-bottom:solid 0.1rem transparent;}
    .notice-alarm .active span{color:#ff1414;}

    .cmm-banner{margin-bottom:0.3rem;background:#fff;}
    .cmm-banner.cursor{cursor:pointer;}
    .cmm-banner img{width:100%;}

    .user-info{margin-bottom:0.2rem;padding:0.75rem 0;text-align:center;background:#fff;}
    .user-info .name{margin-bottom:0.2rem;}
    .user-info .name .image{width:2rem;height:2rem;}
    .user-info .name .man{width:2rem;margin-bottom:0.2rem;}
    .user-info .name .woman{width:3rem;margin-bottom:0.2rem;margin-top:0.7rem;margin-right: -0.9rem;}
    .user-info button{border:solid 0.02rem #c6c6c6;border-radius:0.25rem;}
    .user-info button span{padding:0 0.2rem;height:0.5rem;line-height:0.5rem;}
    .profile .setting{position:absolute;right:0.25rem;bottom:0.25rem;}
    .profile .setting span{width:1rem;height:1rem;font-size:0;background:url(../images/user_info.png) no-repeat -4rem 0;background-size:auto 2rem;}

    .user-list {margin-top: .2rem;}
    .user-list a{display:block;position:relative;margin-bottom:0.2rem;background:#fff;}
    .user-list a:after{display:block;content:'';position:absolute;right:0.3rem;top:0.38rem;width:0.15rem;height:0.15rem;border:solid 0.04rem transparent;border-left-color:#c6c6c6;border-bottom-color:#c6c6c6;border-radius:0.05rem;transform:rotate(-135deg);}
    .user-list a:before{display:block;content:'';position:absolute;left:0.2rem;top:0.12rem;width:0.75rem;height:0.75rem;border-radius:50%;background:#ffebea url(../images/user_list.png) no-repeat 0 0;background-size:auto 100%;}
    .user-list a.event:before{background-position:-0.75rem 0;}
    .user-list a.sub:before{background-position:-1.5rem 0;}
    .user-list a.pay:before{background-position:-2.25rem 0;}
    .user-list a span{padding:0 0.2rem 0 1.25rem;height:1rem;line-height:1rem;font-size:0.36rem;}

    .setting-list a{display:block;position:relative;border-bottom:solid 0.02rem #c6c6c6;background:#fff;}
    .setting-list a:after{display:block;content:'';position:absolute;right:0.3rem;top:0.38rem;width:0.15rem;height:0.15rem;border:solid 0.04rem transparent;border-left-color:#c6c6c6;border-bottom-color:#c6c6c6;border-radius:0.05rem;transform:rotate(-135deg);}
    .setting-list a span{padding:0 0.2rem 0 1.25rem;height:1.2rem;line-height:1.2rem;font-size:0.36rem;}

    .sub-list a{display:block;position:relative;margin-bottom:0.2rem;background:#fff;overflow:hidden;}
    .sub-list .img{position:absolute;right:0.3rem;top:0;height:100%;}
    .sub-list .img img{height:100%;}
    .sub-list a .tit{display:table;width:40%;height:3rem;}
    .sub-list a .tit:after{display:block;content:'';position:absolute;left:-0.5rem;top:0;width:4rem;height:4rem;background:#283277;transform:rotate(-10deg);}
    .sub-list a:nth-of-type(2) .tit:after{background:#e61c29;}
    .sub-list a:nth-of-type(3) .tit:after{background:#444;}
    .sub-list a .tit em{display:table-cell;position:relative;padding:0 0.2rem 0 0.8rem;line-height:0.7rem;color:#fff;font-size:0.5rem;vertical-align:middle;z-index:1;}
    .sub-list a:nth-of-type(1) .tit em{background:#283277;}
    .sub-list a:nth-of-type(2) .tit em{background:#e61c29;}
    .sub-list a:nth-of-type(3) .tit em{background:#444;}

    .sub-view{padding:0.5rem 0.3rem;background:#fff;}
    .sub-view .img{margin:0 auto 0.5rem auto;width:3rem;}
    .sub-view .img img{width:100%;}
    .sub-view .txt{margin-bottom:0.75rem;line-height:0.5rem;font-size:0.34rem;}
    .sub-view .btn-box > * + *{margin-top:0.3rem;}

.cmm-list{margin-bottom:0.3rem;background:#fff;}
.cmm-list a{display:block;position:relative;padding:0.2rem;border-bottom:solid 0.02rem #c6c6c6;overflow:hidden;}
.cmm-list .group{display:block;text-overflow:ellipsis;white-space: nowrap;overflow: hidden}
.cmm-list a.pin-background{background: #feeded;}
.cmm-list .group.event{display:block;max-width:calc(100% - 3.5rem);}
.cmm-list .tag{float:left;margin-right:0.2rem;padding:0 0.1rem;font-size:0.36rem;border:solid 0.02rem #e84540; color:#e84540}
.cmm-list .tag.message{color:#4d5faa;border:solid 0.02rem #4d5faa;}
.cmm-list .tag.notice-event{color:#a0a0a0;border:solid 0.02rem #a0a0a0;}
.cmm-list .tag.notice-eventp{color:#a0a0a0;border:solid 0.02rem #a0a0a0;}
.cmm-list .tit{display:block;font-size:0.36rem;text-overflow: ellipsis;overflow: hidden;}
.cmm-list .tit .pin{margin: 0 12px;height:0.55rem;}
.cmm-list .tit.alarm{text-overflow: unset;}
.cmm-list > .tit, .cmm-list > .tit-div > .tit{padding:0.5rem 0.3rem 0.2rem 0.3rem;font-size:0.4rem;border-bottom: solid 0.02rem #c6c6c6;}
.cmm-list .tit.blue{color:#4080c0;display:inline-block!important;margin-right:0.2rem;}
.cmm-list .date{color:#969595;font-size:0.32rem;}
.cmm-list .name{display:inline-block ! important;color:#666;font-size:0.32rem;}
.cmm-list .name + .date{float:right;margin-top:0.1rem;}
.cmm-list .place{color:#969595;font-size:0.32rem;}
.cmm-list .state{display:inline-block ! important;vertical-align: top;padding:0.02rem 0.2rem;margin-left:0.05rem;height:0.5rem;border-radius:0.3rem;line-height:0.5rem;color:#fff;font-size:0.3rem;background:#e84540}
.cmm-list .state.people{background:#8d8d8d;}
.cmm-list .state.end{background:#8d8d8d;}
.cmm-list .state.participate{background:#40cd57;}
.cmm-list .btn-box{padding-bottom:0.3rem;text-align:center;padding-top:0.3rem;}
.cmm-list .notice{}
.cmm-list .img {height:2.0rem;background-size: cover;background-position: center;background-repeat: no-repeat;}
.cmm-list .photo .img {height: 25vw;max-height: 250px;overflow:hidden}
.cmm-list .photo.video a {padding: 0.1rem 0.3rem 0.3rem 0.3rem;}
.cmm-list .img img{width:100%}
.cmm-list .group + .img-container{position:absolute;right:0.2rem;top:0;padding:0.1rem 0;height:100%;}
.cmm-list .group + .img-container > span{height:100%;}
.cmm-list .thum{}
.cmm-list .thum .img{float:left;width:3rem;}
.cmm-list .thum .img ~ .group{margin-left:3.2rem;}
.cmm-list .thum .group em{display:block;white-space:normal;margin-bottom:0.05rem;}
.cmm-list .thum .group.event > em:first-child{line-height:1.5em;}
.cmm-list .photo{padding:0.3rem 0.2rem;overflow:hidden;overflow-x:scroll;white-space:nowrap;}
.cmm-list .photo.video{padding:0.3rem 0.2rem;overflow:hidden;white-space:normal;}
.cmm-list .photo a{display:inline-block;padding:0 0.1rem;width:50%;vertical-align:top;border-bottom:none;}
.cmm-list .photo .tit{overflow:hidden;margin-top:0.1rem;font-size: 0.35rem;text-overflow:ellipsis;white-space:normal;max-height:0.86rem;line-height:0.43rem;}
.cmm-vod{padding:0.3rem 0.3rem 0 0.3rem;background:#fff;margin-bottom:0.3rem;}
.cmm-vod .img img{width:100%;}
.cmm-vod .inner .img .play-youtube-button {position: absolute; width: 1.5rem;left: calc(50% - 0.75rem);top: calc(50% - 0.75rem);}
.cmm-list .cmm-vod .img {height:50vw;max-height:8.5rem}
.cmm-vod .status {margin-top: .1rem;}
.cmm-vod .status .tit{font-size: .4rem; font-weight: bold; border-bottom: 1px solid #dddddd;padding-bottom: 0.15rem;}
.cmm-vod .status > em {margin-top: .1rem;display: inline-block;}
.cmm-vod .status > em span.like-text{margin-left: .2rem;}
.cmm-vod .inner{position:relative;cursor:pointer;}
.cmm-vod .video{position:absolute;left:0;top:0;width:100%;height:100%;background-position-y: center;}
.cmm-vod .video iframe{width:100% ! important;height:100% ! important;}

.cmm-chat-top { height: 0.9rem; background: #fff; position:relative; padding-top: 0.25rem; text-align: center; font-size: 0.3rem; color: rgb(84,83,83)}
.cmm-chat-top img { height: 0.3rem; position: absolute; top:0.3rem; left: 0.3rem;}
.cmm-list-view .top-box{margin-bottom:0.3rem;padding:0.3rem;background:#fff;position: relative}
.cmm-list-view .tit2{display:block;margin-bottom:0.2rem;font-weight:bold;font-size:0.42rem}
.cmm-list-view .news .tit3{display:block;margin-bottom:0.2rem;font-weight:bold;font-size:0.38rem}
.cmm-list-view .tit{display:block;margin-bottom:0.2rem;font-weight:bold;font-size:0.66rem;}
.cmm-list-view .date{color:#666;font-size:0.32rem;}
.cmm-list-view .name{color:#666;font-size:0.32rem;}
.cmm-list-view .name + .date{float:right;margin-top:0.1rem;}
.cmm-list-view .txt-box{font-size:22px !important;margin-bottom:0.3rem;padding:0.3rem;color:initial;font-size:initial;font-family:initial;background:#fff;}
.cmm-list-view .txt-box.with{margin-bottom:0;}
.board-comment {margin-bottom:0.3rem;background: #fff;padding: 0.3rem;text-align: center;}
.board-comment button{font-size: 1rem;}
.board-comment button img{width: 1rem;}
.board-comment button span{font-size: 0.4rem;}
.cmm-list-view .txt-box img{max-width:100%;}
.cmm-list-view .txt-box figure.media {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;}
.cmm-list-view .txt-box iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top:0.5rem;}
.cmm-list-view .txt-box p{margin:0.3rem 0;line-height:0.7rem;}
.cmm-list-view .txt-box figure.image{text-align:center;}
.cmm-list-view .txt-box figcaption{margin:0.2rem;color:#666;font-size:0.35rem;text-align:center;}
.cmm-list-view .cmm-vod{margin-bottom:0.3rem;padding:0.3rem;}
.cmm-list-view .cmm-vod.with{margin-bottom:0;}
.cmm-list-view .area-box{margin-bottom:0.3rem;padding:0.3rem;background:#fff;}
.cmm-list-view .area-box .img{float:left;width:2rem;}
.cmm-list-view .area-box .img.event{float:none;width:100%;margin-bottom: 0.5rem;}
.cmm-list-view .area-box .img img{width:100%;}
.cmm-list-view .area-box .tit{margin:0 0 0.3rem 2.3rem;min-height:1.3rem;}
.cmm-list-view .area-box .tit.event{margin-left:0;height: unset;min-height: unset;}
.cmm-list-view .area-box dl{font-size:0.34rem}
.cmm-list-view .area-box dt{float:left;color:#666;}
.cmm-list-view .area-box dd{margin:0 0 0.2rem 2rem;}
.cmm-list-view .toggle-box{margin-bottom:0.3rem;padding:0.3rem;background:#fff;}
.cmm-list-view .toggle-box .top{display:flex;margin-bottom:0.3rem;}
.cmm-list-view .toggle-box .top > *{display:block;width:100%;border-bottom:solid 0.04rem #c6c6c6;}
.cmm-list-view .toggle-box .top > * span{height:1rem;line-height:1rem;font-size:0.36rem;text-align:center;}
.cmm-list-view .toggle-box .top > .active{color:#ff1414;border-color:#ff1414;}
.cmm-list-view .toggle-box .hide{display:none;}
.cmm-list-view .toggle-box .hide.active{display:block;}
.cmm-list-view .toggle-box .map{height:6rem;}
.cmm-list-view .toggle-box .txt-box{padding:0;}

.cmm-reply-box{margin-bottom:0.3rem;margin-top: .2rem;background:#fff;}
.cmm-reply-box .reply{padding:0.3rem;background:#fff;overflow:hidden;}
.cmm-reply-box .reply .btn-white{display:block;width:100%;}
.cmm-reply-box .reply .write{display:none;}
.cmm-reply-box .reply.active > .btn-white{display:none;}
.cmm-reply-box .reply.active > .write{display:block;position: relative;}
.cmm-reply-box .reply.active > .write img {position: absolute; left: 0;top: 0; width: .7rem;}
.cmm-reply-box .reply.active > .write .cmm-textarea {padding-right: 1.7rem; padding-left: .9rem;}
.cmm-reply-box .reply.active > .write .cmm-textarea textarea {resize: vertical;width: 100%;height: .7rem; border: none;font-size: .3rem;padding: .1rem;}
.cmm-reply-box .reply.active > .write .cmm-textarea textarea::placeholder {font-size: .3rem; color: #777}
.cmm-reply-box .reply.active > .write button {position: absolute; top: 0; right: .1rem; color: white; font-size: .3rem; padding: 0 .4rem; width: 1.4rem; height: .7rem; background-color: rgb(215,81,72);border-radius: .4rem;}
.cmm-reply-box .list .unit{position:relative;padding:0.3rem;border-top:solid 0.02rem #c6c6c6;}
.cmm-reply-box .list .unit .info {position: relative;}
.cmm-reply-box .list .unit .info img {position: absolute; left: 0; width: .8rem; height: .8rem; border-radius: 50%;}
.cmm-reply-box .list .unit .info .info-right {margin-left: 1rem;background-color:rgb(242,242,242);padding: .2rem;border-radius: .4rem;}
.cmm-reply-box .list .unit .info .info-right textarea{border: none;background-color: rgb(250,250,250);border-radius: .3rem;}
.cmm-reply-box .list .unit .modify-button{text-align: right;}
.cmm-reply-box .list .unit .modify-button button{background-color: rgb(215,81,72);color: white;padding: .1rem .2rem; font-size: .25rem;border-radius: .2rem; margin-top: .1rem;}
.cmm-reply-box .list .unit .info .info-right p {margin-bottom: .1rem;display: inline-block;word-wrap: break-word;width:100%;}
.cmm-reply-box .list .unit .id{margin-bottom:0.2rem;font-size:0.34rem;}
.cmm-reply-box .list .unit .date{margin-bottom:0.2rem;color:#777;font-size:0.34rem;}
.cmm-reply-box .list .unit .txt{margin-bottom:0.2rem;color:#333;font-size:0.34rem;}
.cmm-reply-box .list .unit .group{margin-left: 1rem;margin-top: .1rem;margin-bottom:0.2rem;text-align:right;clear:both;}
.cmm-reply-box .list .unit .group .toggle{float:left;margin-left:0 ! important;}
.cmm-reply-box .list .unit .group .toggle span{font-weight:bold;}
.cmm-reply-box .list .unit .group button{margin-left:0.2rem;}
.cmm-reply-box .list .unit .group .like {width: 1.5rem; margin-right: .1rem; text-align: left;}
.cmm-reply-box .cmm-sort-box {margin-bottom: 0.2rem;text-align: left;padding-left: 0.3rem;padding-bottom:0.1rem;margin-top: .2rem;}
.cmm-reply-box .cmm-sort-box button{margin-right: 0.3rem;font-size:0.34rem;}
.cmm-reply-box .cmm-sort-box button.active{font-weight:700;}
button.like.on span{color: #e64843;}
button.dislike.on span{color: #2984d7;}
.cmm-reply-box .list .unit .group button.like.on span{color: #e64843;}
.cmm-reply-box .list .unit .group button.dislike.on span{color: #2984d7;}
.cmm-reply-box .list .unit .group button span{color:#666;font-size:0.34rem;}
.cmm-reply-box .list .unit .group button em{margin-left:0.1rem;}
.cmm-reply-box .list .unit .hide{display:none;margin:0 -0.3rem;background:#f8f9fa;}
.cmm-reply-box .list .unit .hide .unit,
.cmm-reply-box .list .unit .hide .reply{padding:0.3rem 0.6rem;}
.cmm-reply-box .list .unit.active > .hide{display:block;}
.cmm-reply-box .list .unit .more{position:absolute;right:0.4rem;top:0.5rem;width:0.6rem;height:0.6rem;font-size:0;background:url(../images/reply_more.png) no-repeat center;background-size:auto 100%;}

.chat-wrap{ width: 100%; padding-bottom: 1rem; position:absolute;bottom: 0; font-family: 'SansSerif' !important;}
.chat-wrap.bottom-auto {bottom: auto;}
.chat-wrap .chat-infos {height: 1rem;background: #fff;position: relative;}
.chat-wrap .chat-infos .left-info {padding:0.33rem 1rem 0.1rem 0.4rem;}
.chat-wrap .chat-infos .left-info .main{font-size:0.28rem; height: 0.3rem; display: inline-block; margin-right: 0.5rem; vertical-align: top;}
.chat-wrap .chat-infos .left-info .main.active{color:#e94540;}
.chat-wrap .chat-infos .left-info .main img{width: 0.45rem;vertical-align: top; margin-right: 0.1rem;}
.chat-wrap .chat-infos .right-button{position: absolute; right:0.3rem; top: 0.31rem;font-size: 0.28rem; color: #444444}
.chat-wrap .chat-infos .right-button b{font-weight:bold;vertical-align: top;margin-left: 0.05rem;}
.chat-wrap .chat-messages {height: 100%;padding: 0.05rem 0.1rem 1.8rem 0.1rem;background-color:rgb(242,242,242)}
.chat-wrap .chat-messages .scroller { overflow-y:auto;position:relative;height:100%;}
.chat-wrap .chat-messages .message-wrap .message-info-content {vertical-align: top;}
.chat-wrap .chat-messages .message-wrap .message-info-content b{vertical-align: top;font-weight: bold;}
.chat-wrap .chat-messages .message-wrap .message-info-content b.important{color: #e94540;}
.chat-wrap .chat-messages .message-wrap {margin-top:0.4rem;margin-left: 0.4rem;}
.chat-wrap .chat-messages .message-image {position: absolute;left:0.3rem;}
.chat-wrap .chat-messages .message-image img{width:0.7rem;height:0.7rem;margin-top:0.1rem;border-radius: 50%;}
.chat-wrap .chat-messages .message-content {padding-left:0.9rem;font-size:0.26rem;word-break: break-all;}
.chat-wrap .chat-messages .message-content .username{color: #555; margin-right:0.15rem;vertical-align: top;font-size:0.24rem;}
.chat-wrap .chat-messages .message-content .text{background-color:rgb(232,232,232);border-radius: 0.3rem; padding: 0.05rem 0.15rem;margin-top:0.1rem;display: inline-block;}
.chat-send {position: absolute;bottom: 0.3rem;width: 95%;height:1.2rem;background-color: white; border-radius: 0.6rem; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%)}
.chat-send.top {bottom: auto; top: 0.1rem;}
.chat-send .send-image {position: absolute;left:0.3rem;top: 0.24rem;}
.chat-send .send-image img{width:0.7rem;height:0.7rem;}
.chat-send .send-input-wrap{padding-left:0.8rem;padding-right: 2rem;height: 100%;}
.chat-send .send-input-wrap input{width: 100%; border: none;height:100%;font-size:0.34rem;padding-left: 0.4rem; padding-right: 0.1rem;}
.chat-send .send-input-wrap input::placeholder{color: rgb(84,83,83);}
.chat-send .send-button-wrap {position: absolute;right:0.15rem;}
.chat-send .send-button-wrap .send-text {vertical-align: top;padding-bottom: 0.05rem;margin:0.24rem 0.1rem;width: 1rem; background-color: rgb(233,69,64);height: 0.7rem; border-radius: 0.35rem; color: white; text-align: center;font-size:0.35rem;}
.chat-send .send-button-wrap .send-point{vertical-align: top;padding-bottom: 0.05rem;margin:0.2rem 0.1rem;width: 1rem; height: 0.7rem; border-radius: 0.35rem; color: white; text-align: center;font-size:0.35rem;}
.chat-bg {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.3);z-index: 800}
.chat-size-wrapper {position: absolute; top: 0.5rem; width: 6.2rem; z-index: 900; background: white; right: 0.5rem; height: 2rem; border-radius: .2rem;}
.chat-size-wrapper .button-wrapper .bar {position: absolute; top: .6rem; left: .3rem; width: 5.4rem; height: 0.26rem; background: rgb(245,246,248); z-index: 920}
.chat-size-wrapper .button-wrapper button.active {background-color: rgb(233,69,64);border: 1px solid rgb(233,69,64);color: white;}
.chat-size-wrapper .button-wrapper button {background-color: white; width: .7rem; height: .7rem; border-radius: 1rem; border: 1px solid rgb(239,239,239);z-index: 950;position: relative;margin-right:.1rem;margin-top: .41rem;margin-left: .3rem;color: rgb(155,155,155)}
.chat-size-wrapper .button-wrapper button:last-child {margin-right: 0;}
.chat-size-wrapper .text-wrapper {color: rgb(155,155,155);margin-top:.2rem;}
.chat-size-wrapper .text-wrapper button{margin-right: .1rem; margin-left:.3rem;width: .7rem;text-align: center;overflow:visible;word-break: keep-all}
.chat-size-wrapper .text-wrapper button.active {color: rgb(233,69,64);}
.main-visual{position:relative;margin:-1.3rem 0 0.3rem 0;}
.main-visual .main-info {position: absolute; top: .3rem;left: .4rem;z-index: 999;color: white; font-size: .3rem;}
.main-visual .img-box img{width:100%;}
.main-visual .btn-box{display:flex;position:absolute;bottom:0;left:0;padding:0.5rem;width:100%;}
.main-visual .btn-box a{display:block;position:relative;width:100%;background:#fff;}
.main-visual .btn-box a + a:before{display:block;content:'';position:absolute;left:-0.02rem;top:0.3rem;width:0.04rem;height:0.4rem;background:#ff1414;}
.main-visual .btn-box a span{height:1rem;line-height:1rem;color:#ff1414;text-align:center;}
.main-visual .btn-box a:first-child{padding-left:0.4rem;border-radius:0.1rem 0 0 0.1rem;}
.main-visual .btn-box a:last-child{padding-right:0.4rem;border-radius:0 0.1rem 0.1rem 0;}
.btn-box > p.logined{width:100%;height:1rem;border-radius:0.1rem;font-size:0;background:#fff url(../images/logo.png) no-repeat center;background-size:auto 1rem;}
.main-container .btn-box {text-align: center;margin: .5rem .3rem;}
.main-container .btn-box a img {height: .5rem; display: inline-block;}
.main-container .btn-box a span{display: inline-block; font-size: .35rem; font-weight: bold; vertical-align: top;margin-top: .01rem;}
.main-container .btn-box a {display: block;color: #e94540; padding: .17rem;}
.main-container .VueCarousel {margin: 0;}


/************************************ Header Style S ************************************/
#footer{display:flex;position:fixed;left:0;bottom:20;padding:0.1rem 0 0.2rem 0;width:100%;border-top:solid 0.02rem #e8e8e8;background:#fff;z-index:4;}
#footer button span{ background-position-y: -5.65rem !important;}
#footer a, #footer button{display:block;width:100%;height:1rem;}
#footer a span, #footer button span{display:block;margin:auto;padding-top:0.65rem;height:0.65rem;white-space:nowrap;font-size:0.25rem;color:rgb(84,83,83);text-align:center;background-image:url(../images/bottom_icons.png);background-repeat:no-repeat;background-size:8rem auto;background-position-y:-0.07rem;}
#footer button.upload-menu span{background-image:url(../images/ico.png) !important;background-repeat:no-repeat !important;background-size:4.8rem auto !important; letter-spacing: 0px;}
#footer .home span{background-position-x:-0.38rem;width:.8rem;}
#footer .subscribe span{background-position-x:-2.1rem;width:.6rem;}
#footer .sns span{background-position-x:-3.55rem;width:.94rem;}
#footer .my span{background-position-x:-6.7rem;width:1rem;}
#footer .photo span{background-position-x:.35rem;width:1.55rem;padding-top:.55rem;margin-top:-.1rem;}
#footer .video span{background-position-x:-.72rem;width:1.4rem;padding-top:.55rem;margin-top:-.1rem;}
#footer .image span{background-position-x:-1.77rem;width:1.3rem;padding-top:.55rem;margin-top:-.1rem;}
#footer .new span{background-position-x:-4.95rem;width:1.3rem}
#footer .on span{background-position-y:-1.04rem;color:#ff1414;}
/************************************ Header Style E ************************************/


/************************************ Chat ************************************/
.chat-wrap2 {
  padding: 0 !important;
}
.chat-wrap2 .cmm-vod {
  padding: 0 !important;
}
#content {
  padding: 0 !important;
  height: 100% !important;
}
.live-button {
  width: 32%;
  font-size: .3rem;
  margin-top: .1rem;
  padding-top: .17rem;
  padding-bottom: .17rem;
  border-radius: .2rem;
  text-align: center;
  display: inline-block;
}
.live-button.yellow {
  background-color: #fef01b;
}
.live-button.red {
  background-color: rgb(233,69,64);
  color: white;
}
.live-button.white {
  border: 1px solid gray;
}
.live-button svg {
  margin-top: -.1rem;
  margin-right: .1rem;
}
.cmm-chat-top { height: 0.9rem; background: #fff; position:relative; padding-top: 0.25rem; text-align: center; font-size: 0.3rem; color: rgb(84,83,83)}
.cmm-chat-top img { height: 0.3rem; position: absolute; top:0.3rem; left: 0.3rem;}
.cmm-list-view .top-box{margin-bottom:0.3rem;padding:0.3rem;background:#fff;position: relative}
.cmm-list-view .tit2{display:block;margin-bottom:0.2rem;font-weight:bold;font-size:0.42rem}
.cmm-list-view .news .tit3{display:block;margin-bottom:0.2rem;font-weight:bold;font-size:0.38rem}
.cmm-list-view .tit{display:block;margin-bottom:0.2rem;font-weight:bold;font-size:0.66rem;}
.cmm-list-view .date{color:#666;font-size:0.32rem;}
.cmm-list-view .name{color:#666;font-size:0.32rem;}
.cmm-list-view .name + .date{float:right;margin-top:0.1rem;}
.cmm-list-view .txt-box{font-size:22px !important;margin-bottom:0.3rem;padding:0.3rem;color:initial;font-size:initial;font-family:initial;background:#fff;}
.cmm-list-view .txt-box.with{margin-bottom:0;}
.board-comment {margin-bottom:0.3rem;background: #fff;padding: 0.3rem;text-align: center;}
.board-comment button{font-size: 1rem;}
.board-comment button img{width: 1rem;}
.board-comment button span{font-size: 0.4rem;}
.cmm-list-view .txt-box img{max-width:100%;}
.cmm-list-view .txt-box figure.media {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;}
.cmm-list-view .txt-box iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top:0.5rem;}
.cmm-list-view .txt-box p{margin:0.3rem 0;line-height:0.7rem;}
.cmm-list-view .txt-box figure.image{text-align:center;}
.cmm-list-view .txt-box figcaption{margin:0.2rem;color:#666;font-size:0.35rem;text-align:center;}
.cmm-list-view .cmm-vod{margin-bottom:0.3rem;padding:0.3rem;}
.cmm-list-view .cmm-vod.with{margin-bottom:0;}
.cmm-list-view .area-box{margin-bottom:0.3rem;padding:0.3rem;background:#fff;}
.cmm-list-view .area-box .img{float:left;width:2rem;}
.cmm-list-view .area-box .img.event{float:none;width:100%;margin-bottom: 0.5rem;}
.cmm-list-view .area-box .img img{width:100%;}
.cmm-list-view .area-box .tit{margin:0 0 0.3rem 2.3rem;min-height:1.3rem;}
.cmm-list-view .area-box .tit.event{margin-left:0;height: unset;min-height: unset;}
.cmm-list-view .area-box dl{font-size:0.34rem}
.cmm-list-view .area-box dt{float:left;color:#666;}
.cmm-list-view .area-box dd{margin:0 0 0.2rem 2rem;}
.cmm-list-view .toggle-box{margin-bottom:0.3rem;padding:0.3rem;background:#fff;}
.cmm-list-view .toggle-box .top{display:flex;margin-bottom:0.3rem;}
.cmm-list-view .toggle-box .top > *{display:block;width:100%;border-bottom:solid 0.04rem #c6c6c6;}
.cmm-list-view .toggle-box .top > * span{height:1rem;line-height:1rem;font-size:0.36rem;text-align:center;}
.cmm-list-view .toggle-box .top > .active{color:#ff1414;border-color:#ff1414;}
.cmm-list-view .toggle-box .hide{display:none;}
.cmm-list-view .toggle-box .hide.active{display:block;}
.cmm-list-view .toggle-box .map{height:6rem;}
.cmm-list-view .toggle-box .txt-box{padding:0;}

.cmm-reply-box{margin-bottom:0.3rem;margin-top: .2rem;background:#fff;}
.cmm-reply-box .reply{padding:0.3rem;background:#fff;overflow:hidden;}
.cmm-reply-box .reply .btn-white{display:block;width:100%;}
.cmm-reply-box .reply .write{display:none;}
.cmm-reply-box .reply.active > .btn-white{display:none;}
.cmm-reply-box .reply.active > .write{display:block;position: relative;}
.cmm-reply-box .reply.active > .write img {position: absolute; left: 0;top: 0; width: .7rem;}
.cmm-reply-box .reply.active > .write .cmm-textarea {padding-right: 1.7rem; padding-left: .9rem;}
.cmm-reply-box .reply.active > .write .cmm-textarea textarea {resize: vertical;width: 100%;height: .7rem; border: none;font-size: .3rem;padding: .1rem;}
.cmm-reply-box .reply.active > .write .cmm-textarea textarea::placeholder {font-size: .3rem; color: #777}
.cmm-reply-box .reply.active > .write button {position: absolute; top: 0; right: .1rem; color: white; font-size: .3rem; padding: 0 .4rem; width: 1.4rem; height: .7rem; background-color: rgb(215,81,72);border-radius: .4rem;}
.cmm-reply-box .list .unit{position:relative;padding:0.3rem;border-top:solid 0.02rem #c6c6c6;}
.cmm-reply-box .list .unit .info {position: relative;}
.cmm-reply-box .list .unit .info img {position: absolute; left: 0; width: .8rem; height: .8rem; border-radius: 50%;}
.cmm-reply-box .list .unit .info .info-right {margin-left: 1rem;background-color:rgb(242,242,242);padding: .2rem;border-radius: .4rem;}
.cmm-reply-box .list .unit .info .info-right textarea{border: none;background-color: rgb(250,250,250);border-radius: .3rem;}
.cmm-reply-box .list .unit .modify-button{text-align: right;}
.cmm-reply-box .list .unit .modify-button button{background-color: rgb(215,81,72);color: white;padding: .1rem .2rem; font-size: .25rem;border-radius: .2rem; margin-top: .1rem;}
.cmm-reply-box .list .unit .info .info-right p {margin-bottom: .1rem;display: inline-block;word-wrap: break-word;width:100%;}
.cmm-reply-box .list .unit .id{margin-bottom:0.2rem;font-size:0.34rem;}
.cmm-reply-box .list .unit .date{margin-bottom:0.2rem;color:#777;font-size:0.34rem;}
.cmm-reply-box .list .unit .txt{margin-bottom:0.2rem;color:#333;font-size:0.34rem;}
.cmm-reply-box .list .unit .group{margin-left: 1rem;margin-top: .1rem;margin-bottom:0.2rem;text-align:right;clear:both;}
.cmm-reply-box .list .unit .group .toggle{float:left;margin-left:0 ! important;}
.cmm-reply-box .list .unit .group .toggle span{font-weight:bold;}
.cmm-reply-box .list .unit .group button{margin-left:0.2rem;}
.cmm-reply-box .list .unit .group .like {width: 1.5rem; margin-right: .1rem; text-align: left;}
.cmm-reply-box .cmm-sort-box {margin-bottom: 0.2rem;text-align: left;padding-left: 0.3rem;padding-bottom:0.1rem;margin-top: .2rem;}
.cmm-reply-box .cmm-sort-box button{margin-right: 0.3rem;font-size:0.34rem;}
.cmm-reply-box .cmm-sort-box button.active{font-weight:700;}
button.like.on span{color: #e64843;}
button.dislike.on span{color: #2984d7;}
.cmm-reply-box .list .unit .group button.like.on span{color: #e64843;}
.cmm-reply-box .list .unit .group button.dislike.on span{color: #2984d7;}
.cmm-reply-box .list .unit .group button span{color:#666;font-size:0.34rem;}
.cmm-reply-box .list .unit .group button em{margin-left:0.1rem;}
.cmm-reply-box .list .unit .hide{display:none;margin:0 -0.3rem;background:#f8f9fa;}
.cmm-reply-box .list .unit .hide .unit,
.cmm-reply-box .list .unit .hide .reply{padding:0.3rem 0.6rem;}
.cmm-reply-box .list .unit.active > .hide{display:block;}
.cmm-reply-box .list .unit .more{position:absolute;right:0.4rem;top:0.5rem;width:0.6rem;height:0.6rem;font-size:0;background:url(../images/reply_more.png) no-repeat center;background-size:auto 100%;}

.chat-wrap{ width: 100%; padding-bottom: 1rem; position:absolute;bottom: 0; font-family: 'SansSerif' !important;}
.chat-wrap.bottom-auto {bottom: auto;}
.chat-wrap .chat-infos {height: 1rem;background: #fff;position: relative;}
.chat-wrap .chat-infos .left-info {padding:0.33rem 1rem 0.1rem 0.4rem;}
.chat-wrap .chat-infos .left-info .main{font-size:0.28rem;  display: inline-block; margin-right: 0.5rem; vertical-align: top;}
.chat-wrap .chat-infos .left-info .main.active{color:#e94540;}
.chat-wrap .chat-infos .left-info .main img{width: 0.45rem;vertical-align: top; margin-right: 0.1rem;}
.chat-wrap .chat-infos2 {height: .7rem;background: #fff;position: relative;}
.chat-wrap .chat-infos2 .left-info2 {padding:0rem 1rem 0.1rem 0.4rem;}
.chat-wrap .chat-infos2 .left-info2 .point{font-size:0.28rem; background-color: #e52539; border-radius: 15px; color: #fff; padding: 2px 3px 2px 2px; display: inline-block; vertical-align: top;}
.chat-wrap .chat-infos2 .left-info2 .point img{width: 0.45rem;vertical-align: top; }
.chat-wrap .chat-infos .right-button{position: absolute; right:0.3rem; top: 0.31rem;font-size: 0.28rem; color: #444444}
.chat-wrap .chat-infos .right-button b{font-weight:bold;vertical-align: top;margin-left: 0.05rem;}
.chat-wrap .chat-messages {height: 100%;padding: 0.05rem 0.1rem 1.8rem 0.1rem;background-color:rgb(242,242,242)}
.chat-wrap .chat-messages .scroller { overflow-y:auto;position:relative;height:100%;}
.chat-wrap .chat-messages .message-wrap .message-info-content {vertical-align: top;}
.chat-wrap .chat-messages .message-wrap .message-info-content b{vertical-align: top;font-weight: bold;}
.chat-wrap .chat-messages .message-wrap .message-info-content b.important{color: #e94540;}
.chat-wrap .chat-messages .message-wrap {margin-top:0.4rem;margin-left: 0.4rem;}
.chat-wrap .chat-messages .message-image {position: absolute;left:0.3rem;}
.chat-wrap .chat-messages .message-image img{width:0.7rem;height:0.7rem;margin-top:0.1rem;border-radius: 50%;}
.chat-wrap .chat-messages .message-content {padding-left:0.9rem;font-size:0.26rem;word-break: break-all;}
.chat-wrap .chat-messages .message-content .username{color: #555; margin-right:0.15rem;vertical-align: top;font-size:0.24rem;}
.chat-wrap .chat-messages .message-content .text{background-color:rgb(232,232,232);border-radius: 0.3rem; padding: 0.05rem 0.15rem;margin-top:0.1rem;display: inline-block;}
.chat-send {position: absolute;bottom: 0.3rem;width: 95%;height:1.2rem;background-color: white; border-radius: 0.6rem; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%)}
.chat-send.top {bottom: auto; top: 0.1rem;}
.chat-send .send-image {position: absolute;left:0.3rem;top: 0.24rem;}
.chat-send .send-image img{width:0.7rem;height:0.7rem;}
.chat-send .send-input-wrap{padding-left:0.8rem;padding-right: 2rem;height: 100%;}
.chat-send .send-input-wrap input{width: 100%; border: none;height:100%;font-size:0.34rem;padding-left: 0.4rem; padding-right: 0.1rem;}
.chat-send .send-input-wrap input::placeholder{color: rgb(84,83,83);}
.chat-send .send-button-wrap {position: absolute;right:0.15rem;}
.chat-bg {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.3);z-index: 800}
.chat-size-wrapper {position: absolute; top: 0.5rem; width: 6.2rem; z-index: 900; background: white; right: 0.5rem; height: 2rem; border-radius: .2rem;}
.chat-size-wrapper .button-wrapper .bar {position: absolute; top: .6rem; left: .3rem; width: 5.4rem; height: 0.26rem; background: rgb(245,246,248); z-index: 920}
.chat-size-wrapper .button-wrapper button.active {background-color: rgb(233,69,64);border: 1px solid rgb(233,69,64);color: white;}
.chat-size-wrapper .button-wrapper button {background-color: white; width: .7rem; height: .7rem; border-radius: 1rem; border: 1px solid rgb(239,239,239);z-index: 950;position: relative;margin-right:.1rem;margin-top: .41rem;margin-left: .3rem;color: rgb(155,155,155)}
.chat-size-wrapper .button-wrapper button:last-child {margin-right: 0;}
.chat-size-wrapper .text-wrapper {color: rgb(155,155,155);margin-top:.2rem;}
.chat-size-wrapper .text-wrapper button{margin-right: .1rem; margin-left:.3rem;width: .7rem;text-align: center;overflow:visible;word-break: keep-all}
.chat-size-wrapper .text-wrapper button.active {color: rgb(233,69,64);}
